---
import Layout from '../layouts/Layout.astro'
import Chat from '../components/Chat.vue'
---

<Layout>
  <main class="bg-gradient-to-br from-indigo-800 to-purple-900 text-white min-h-screen">
    <div class="container max-w-2xl mx-auto py-24">
      <header class="text-center mb-12">
        <img
          src="/joelbot-icon-2.jpg"
          alt="JoelBot Icon"
          class="inline rounded-full w-32 mb-2"
        >
        <h1 class="font-semibold text-3xl">
          JoelBot
        </h1>
      </header>
      <div>
        <Chat client:load />
        <p class="text-center text-sm opacity-40 mt-5">
          ⚠️ Der JoelBot kennt momentan nur die Inhalte der Predigtserie "Das Buch Joel"
        </p>
      </div>
    </div>
  </main>
</Layout>
